<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a href="./index.html" class="brand">telaKKi</a>

      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <li class=""><a href="#">(Be part of the solution!)</a></li>
          
          <li class="divider-vertical"></li>

          <li class=""><a href="#">Post an Ad</a></li>

          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Show Categories <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Automobiles</a></li>
              <li><a href="#">Animals</a></li>
              <li><a href="#">Electronics</a></li>
              <li><a href="#">Real Estate</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Community</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav pull-right">
          <li style="list-style: none; display: inline">
            <form class="navbar-search" action="">
              <input class="search-query span2" placeholder="Search a classified ad..." type="text">
            </form>
          </li>

          <li class="divider-vertical"></li>

          <li class=""><a href="#">FAQ</a></li>

          <li class=""><a href="#">Help</a></li>

          <li class=""><a href="#">About Us</a></li>

          <li class="divider-vertical"></li>

          <div class="btn-group pull-left">
          <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
            <i class="icon-user"></i> My Account
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li class="divider"></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </div>

        </ul>
      </div>
    </div>
  </div>
</div>
