.items_container {
  .item, .list_title {
    @include box-sizing(border-box);
    @include border-radius(0px 0px 0px 0px);
    @include box-shadow(rgba(255,255,255,0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 1px 1px 9px 0px inset);
    padding: 20px;
    border: 1px solid #D4D4D4;
    border-bottom: 0px;

    &:hover {
      background-color: #f6f6f6;
    }

    .img {
      @extend .thumbnail;
    }

    .main_info {
      .title, .description, .address {
        display: block;
      }

      .seller {
        display: none;
      }
    }

    .extra_info {

      .votes_container {
        text-align: center;
      }

      .votes {
        @extend .progress;
        @extend .progress-success;

        height: 8px;
        @include background(linear-gradient(top, #f00, #d00));
        margin-bottom: 10px;

        .up_vs_down {
          @extend .bar;
        }
      }

      .vote_buttons {
        @extend .btn-group;
        display: inline-block;
        margin-bottom: 10px;
      }

      .up_votes, .down_votes {
        display: none;
      }

      .price {
        text-align: center;
      }
    }

  }

  a:first-child .item {
    @include border-top-radius(5px);
  }

  a:last-child .item {
    @include border-bottom-radius(5px 5px);
    border-bottom: 1px solid #D4D4D4;
  }
}

.carousel {
  img {
    margin: 0 auto;
  }
}
