<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="modalLabel" class="title">{{ title }}</h3>
</div>
<div class="modal-body">
  <p>{{ description }}</p>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>

  <a class="btn btn-primary link" href="{{ link }}">Go to item</a>
</div>
