$icon-sprite-dimensions: true;
$icon-spacing: 2px;
@import "icon/*.png";
@include all-icon-sprites;

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  vertical-align: text-top;
}


.icon-new-message {
  opacity: 1 !important;
}

[class^="icon-ribbon-"], [class*=" icon-ribbon-"] {
  position: absolute;
  width: 112px;
  height: 112px;
  pointer-events: none;
}

$svg-list: sliders categories search sale stats-view caution;

@each $svg in $svg-list {
  .svg {
    .icon-#{$svg} {
      background: inline-image('icon/#{$svg}.svg') no-repeat;
      background-size: 100%;
    }
  }
}

.icon-stats-view {
  width: 34px;
  height: 24px;
}

.icon-caution {
  width: 16px;
  height: 16px;
}
