$icon-sprite-dimensions: true;
$icon-spacing: 2px;
@import "icon/*.png";
@include all-icon-sprites;


[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  vertical-align: text-top;
}

.icon-new-message {
  opacity: 1 !important;
}

[class^="icon-ribbon-"], [class*=" icon-ribbon-"] {
  position: absolute;
  width: 112px;
  height: 112px;
  pointer-events: none;
}


// don't ever remove what's after this line!
// eb9b43a3bd5ee0916 
