.message_number {
  position: absolute;
  top: 6px;
  left: 36px;
  pointer-events: none;
}

.sent, .received {
  position: relative;
  padding: 5px;
  margin: 0.1em 0 0.5em;
  color: white;
  background: #349BD7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.received {
  margin-right: 50px;
}

.sent {
  margin-left: 50px;
  background: #D76234;
}

.conversation-collection {
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #BCE8F1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #D9EDF7;
  color: #3A87AD;

  .conversation {
    display: block;
    padding: 8px 25px 8px 14px;
    border-bottom: 1px solid #BCE8F1;
  }

  .conversation:last-child {
    border: 0;
  }
}
