@import "compass";
@import "bootstrap";

//telaKKi
@import "variables";
@import "item";
@import "navbar";
@import "devise";
@import "message";
@import "kk_display";
@import "menu";
@import "submenus";

body {
  background-image:url('/assets/furley_bg.png');
}
// Implemented from https://gist.github.com/1855032
// Ryan Fait's Sticky Footer
html, body {
  height: 100%;
}
footer {
  color: #666;
  background: #222;
  padding: 17px 0 18px 0;
  border-top: 1px solid #000;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #efefef;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
}
.push {
  height: 63px;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
  padding-top: 60px;
}
