<a href="<%= category_path(category) %>">
  <div class="category">
    <div id="image">
      <img src="<%= asset_path("c_#{category.name}") %>.png"></img>
    </div>

    <div id="name">
      <p><%= t(category.name) %></p>
    </div>
  </div>
</a>
