<p id="notice"><%= notice %></p>

<% image_tag @image.image.url %>
<% image_tag @image.image.url(:medium) %>
<% image_tag @image.image.url(:thumb) %>

<%= render @image %>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
